/* navigation */
#navbar{
    flex-direction: column;
}

/* home  */
#home{
    height: 300px;
    flex-direction: column;
    padding: 3px 40px;
}
#home::before{
    height: 300px;
}

#home p{
    font-size: 8px;

}

.h-primary{
    font-size: 16px;
}


/* serrvices section  */
#services{
    flex-direction: column;

}

/* clients section  */

#clients{
    overflow: hidden;
    flex-wrap: wrap;
    padding: 2px;
    margin: 3px;
    align-items: flex-start;
    height: 500px;
}

/* contact us  */


/* footer  */